<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add Product</title>
</head>
<body>
    <h1>Add Product here</h1>
    <br>
    <form method="post" enctype="multipart/form-data" action = "{% url 'addproductpage' %}" >
        {% csrf_token %}
        {{ pro_form }}<br>
        <label for="product_name">กรุณาใส่ชื่อสินค้า</label> <br>
        <input type="text" id ="product_name" name ="product_name"><br>
        <label for="product_detail">รายละเอียดของสินค้า</label> <br>
        <textarea name="product_detail" id="product_detail " cols="20" rows="4"></textarea><br>
        <label for="product_price">กรุณาใส่ราคาของสินค้า</label> <br>
        <input type="text" id ="product_price" name ="product_price"><br>
        <label for="product_cat">กรุณาใส่หมวดหมู่ของสินค้า</label> <br>
        <select name="product_cat" id="product_cat">
            {% for x in Category %}
                <li> <option value="{{ x }}"> {{x}} </option>  </li>
            {% endfor %}
            </select>  
        </select>  
        <br>
        กรุณาใส่วัน เวลา และสถานที่นัดดูสินค้า <br>
        {% for i in '123' %}
        <label for="day{{i}}"> {{i}}: วัน</label> 
        <select name="day{{i}}" id="day{{i}}">
            <option value="none" selected disabled hidden> 
                เลือกวัน 
            </option>
            {% for x in DayList %}
                <option value="{{ x }}"> {{x}} </option>  
            {% endfor %}
        </select> 

        <label for='place{{i}}'>สถานที่</label> 
        <select name="place{{i}}" id="place{{i}}">
            <option value="none" selected disabled hidden> 
                เลือกสถานที่
            </option>
            {% for x in place %}
                <option value="{{ x }}"> {{x}} </option>  
            {% endfor %}
        </select>

        <label for='time{{i}}'>เวลา</label> 
        <select name="time{{i}}" id="time{{i}}">
            <option value="none" selected disabled hidden> 
                เลือกเวลา
            </option>
            {% for x in Time %}
                <option value="{{ x }}"> {{x}} </option>  
            {% endfor %}
        </select> <br> 
        {% endfor %}
        

        <button type="submit" >Submit</button>
    </form>
    <a href = "{% url 'shop' %}"><i class="fa fa-envelope" aria-hidden="true"></i> Back to shop </a>

</body>
</html>