{% load static %}
{% load crispy_forms_tags %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="{% static '/css/login+register+logout.css' %}">
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <div class="logo-back"><a href="{% url 'shopgrid' %}"><img src="{% static 'images/Logo.png' %}" alt="logo"></a></div>
        </div>
        <div class="head-bar">
            <h1>Login</h1>
        </div>
        <div class="nav">
            <ul>
                <li><a href="{% url 'shopgrid' %}">Home</a></li>
                <li><a href="{% url 'aboutpage'  %}">About</a></li>
                <li><a href="{% url 'login' %}">Login</a></li>
                <li><a href="{% url 'register' %}">Register</a></li>
            </ul>
        </div>
    </div>
    <div class="login-page">
        <div class="form">
            <p class="login-char">เข้าสู่ระบบ</p><br>
            <form class="login-form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">เข้าสู่ระบบ</button>
                <p class="message">เพึ่งเข้าเว็บไซต์ครั้งแรก ใช่หรือไม่? <a href="{% url 'register' %}">สมัครใหม่</a></p>
            </form>
        </div>
    </div>
</body>
</html>