{% load crispy_forms_tags %}
{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>login</title>
    <link rel="stylesheet" href="{% static '/css/login+register.css' %}" type="text/css">
</head>

<body>
    <div class="logo">
        <img src="{% static 'images/Logo.png' %}" alt="logo">
        <h1 class="head-login">เข้าสู่ระบบ</h1>
    </div>
    <br>
    <div class="login-page">
        <div class="form">
            <p class="login-char">เข้าสู่ระบบ</p><br>
            <form class="login-form" method="POST" action="{% url 'login' %}">
                {% csrf_token %}
                {{ form|crispy }}
                <button type="submit">เข้าสู่ระบบ</button>
                <p class="message">เพึ่งเข้าเว็บไซต์ครั้งแรก ใช่หรือไม่? <a href="{% url 'register' %}">สมัครใหม่</a></p>
            </form>
        </div>
    </div>
</body>

</html>

