<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Shop</title>
</head>
<body>
    My Shop!
    <br>
    <ul>
        {% for x in PD %}
        <li>
            ชื่อสินค้า {{ x.pName }}
            <img src="{{x.p_image.url}}" width="200"> 
            <a href = "{% url 'delete' x.id %}" >ลบ</a>
            <a href = "{% url 'updatepic' x.id %}">เพิ่มรูปสินค้า</a>
            
        </li>
        <br><br><br><br>
        {% empty %}
            <li>ไม่มีสินค้า</li>
        {% endfor %}
    </ul>
    <br>

    <br>
    <a href = "{% url 'addproductpage' %}"><i class="fa fa-envelope" aria-hidden="true"></i> Add product </a>
    <a href = "{% url 'shop' %}"><i class="fa fa-envelope" aria-hidden="true"></i> Back to home </a>

</body>
</html>