{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>myshop</title>
    <link rel="stylesheet" href="{% static '/css/myshoplist.css' %}">
</head>
<body>
    <div class="nav-bar">
        <div class="logo">
            <div class="logo-back"><a href="{% url 'shopgrid' %}"><img src="{% static 'images/Logo.png' %}" alt="logo"></a></div>
        </div>
        <div class="head-bar">
            <h1>My Shop</h1>
        </div>
        <div class="nav">
            <ul>
                {% if user.is_authenticated %}
                    <li><a href="{% url 'shopgrid' %}">Home</a></li>
                    <li><a href="{% url 'myshopgrid' %}">My shop</a></li>
                    <li><a href="{% url 'profile' %}">Profile</a></li>
                    <li><a href="{% url 'myfavorite' %}">Favorite</a></li>
                    <li><a href="{% url 'aboutpage'  %}">About</a></li>
                    <li><a href="{% url 'logout' %}">Logout</a></li>
                {% else %}
                    <li><a href="{% url 'shopgrid' %}">Home</a></li>
                    <li><a href="{% url 'aboutpage'  %}">About</a></li>
                    <li><a href="{% url 'login' %}">Login</a></li>
                    <li><a href="{% url 'register' %}">Register</a></li>
                {% endif %}
            </ul>
        </div>
    </div>
    <div class="head-home">
        <h1>My goods list</h1>
    </div>
    <div class="add-button">
        <button type="button" class="ad-but"><a href="{% url 'addproductpage' %}"><i class="fa fa-plus" aria-hidden="true"></i> Add Product</a></button>
    </div>
    <div class="content-mode">
        <div class="grid-mode">
            <a href="{% url 'myshopgrid' %}"><i class="fa fa-th" aria-hidden="true"></i></a>
        </div>
        <div class="list-mode">
            <a href="#"><i class="fa fa-list" aria-hidden="true"></i></a>
        </div>
    </div>
    <div class="box-content">
        <div class="center-content">
            {% for x in PD %}
                <div class="box-list">
                    <div class="pic-item">
                        <img src="{{x.p_image.url}}" alt="item1">
                        <a href="#">
                            <div class="overlay">
                                <div class="text"><i class="fa fa-search-plus" aria-hidden="true"></i></div>
                            </div>
                        </a>
                    </div>
                    <div class="name-item">
                        <a href="#"><p>{{ x.pName }}</p></a>
                    </div>
                    <div class="owner-item">
                        <a href="{% url 'updatepic' %}"><p class="name">แก้ไขรูปภาพ</p></a>
                    </div>
                    <div class="addtofav">
                        <a href="{% url 'delete' x.id %}"><i class="fa fa-trash" aria-hidden="true"></i></a>
                    </div>
                </div>
            {% empty %}
                <div class="shop-empty">
                    ไม่มีสินค้า
                </div>
            {% endfor %}
        </div>
    </div>
</body>
</html>