<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>สินค้าทั้งหมด</h1></center>
    <ul>
        <form action="{% url 'searchbar' %}" method="get">
            <input type="text" name="search"/>

            <label for="searchCategory"> หมวดหมู่ </label> 
            <select name="searchCategory" id="searchCategory">
                    <li> <option value="All"> All </option>  </li>
                {% for x in Category %}
                    <li> <option value="{{ x }}"> {{x}} </option>  </li>
                {% empty %}
                    <li>ไม่มี Category </li>
                {% endfor %}
            </select>

            <button type="submit">Search</button>
        </form>
        {% for listProduct in PD %}
        {% if listProduct.pStatus %}
            ชื่อสินค้า <a href = "{% url 'product_detail' listProduct.pName %}"> {{ listProduct }}</a>  ลงขายโดย 
            <a href = "{% url 'productpage' listProduct.ownerName %}"> {{ listProduct.ownerName }} </a>
            <img src="{{listProduct.p_image.url}}" width="200"><br><br>
            สถานที่:1 <form><input type="radio" id="place" name="place" value="place">
                    <label for="place">{{listProduct.place}}</label><br>
            สถานที่:2 <form><input type="radio" id="place1" name="place" value="place1">
                    <label for="place1">{{listProduct.place1}}</label><br>
            สถานที่:3 <form><input type="radio" id="place2" name="place" value="place2">
                    <label for="place2">{{listProduct.place2}}</label><br>
        </li>
        {% empty %}
            <li>ไม่มีสินค้าใดๆ</li>
        {% endfor %}
</body>
</html>