<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <center><h1>สินค้าทั้งหมด</h1></center>
    <ul>
        {% for listProduct in PD %}
        <li>
            ชื่อสินค้า <a href = "{% url 'product_detail' listProduct.pName %}"> {{ listProduct }}</a>  ลงขายโดย 
            <a href = "{% url 'productpage' listProduct.ownerName %}"> {{ listProduct.ownerName }} </a>
            <img src="{{listProduct.p_image.url}}" width="200">
        </li>
        {% empty %}
            <li>ไม่มีสินค้าใดๆ</li>
        {% endfor %}
</body>
</html>